@charset "UTF-8";

.header_logo{
        width: 60px;
}
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{font-family : 'omyu_pretty'}


/*header member profile*/
.header_profile{
	width : 60px;
	height : 60px;
	border-radius:40px;
	border : 1px solid #e8e8e8;
	padding : 1px;
	object-fit : contain
	
}
